<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>How machines work</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.css" rel="stylesheet">

    <script src="vendor/jquery/jquery.js"></script>

    <script>
    function queryApp(formid, sectionid)
    {
        $(formid).submit(function(event) {
          event.preventDefault();
          $.ajax($(formid)[0].action,
            {
                success: function(data) {
                    $(sectionid).html(data);
                },
                type: 'POST',
                data: $(formid).serialize()
            }
          );
        });
    }


    $(document).ready(function(){
        queryApp('#watsonform', '#watsonService');
    });
    </script>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">How Machines Work</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
              <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#watsonService">Watson</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#uberProducts">Uber</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#weatherServices">Weather</a>
            </li>
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#twitterService">Twitter</a>
            </li>
              <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#venuesService">Find Venues</a>
            </li>
              <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#showMap">Interactive Map</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Your website</h1>
          <hr>
          <p>Start building your website by using some of the APIs provided below.</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light">
            <p class="text-faded">There are a few APIs we've selected that will help you get started.</p>
            <a class="btn btn-default btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section class="services" id="watsonService">
      <div class="container-fluid">
        <div class="content-section-a" id="contact-form">
            <div class="container">
                <div class="row">
                    {# left hand side #}
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Watson</h2>
                        <p>Quickly build and deploy chatbots and virtual agents across a variety of channels, including mobile devices, messaging platforms, and even robots.
                                <a href = 'https://www.ibm.com/watson/developercloud/conversation/api/v1/?python#get_intents' target="_blank">Read more</a>
                        </p>

                    </div>
                    {# right hand side #}
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                        <p class="lead">{% if question %}>{{ question }}{% endif %}</p>
                        <p class="lead">{% if response %}>{{ response }}{% endif %}</p>
                        <form id='watsonform' class="form-horizontal" method="post" action="/watson">
                            <div class="form-group">
                                <label for="question" class="col-sm-6 control-label">Try something:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="question" name="question" value="" placeholder="..." required="required" />
                                    <input type="hidden" value="{{ context }}" name="context" id="context"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default" id="submit-button">Ask</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

    <section class="services" id="uberProducts">
      <div class="container-fluid">
        <div class="content-section-a" id="get-uber-products">
            <div class="container">
                <div class="row">
                    {# left hand side #}
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Request Uber products</h2>
                        <p class="lead"><i>Uber for developers</i> allows integrating Uber services in the code. One example would be getting the type of available services based on a location's latitude and longitude.
                            <a href = 'https://developer.uber.com' target="_blank">Read more</a>
                        </p>
                    </div>
                    {# right hand side #}
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                        <form class="form-horizontal" method="post" action="/uber">
                            <div class="form-group">
                                <label for="latitude" class="col-sm-6 control-label">Latitude for location:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="latitude" name="latitude" placeholder="51.51618" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="longitude" class="col-sm-6 control-label">Longitude for location:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="longitude" name="longitude" placeholder="-0.10006" required="required"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-6 col-sm-6">
                                    <button type="submit" class="btn btn-default" id="uber-submit">Get product</button>
                                </div>
                            </div>
                        </form>
                        {% for product in products %}
                            <img src="{{ product.image }}"><br>
                            <h4> {{ product.display_name }} </h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

    <section class="services", id="weatherServices">
      <div class="container-fluid">
        <div class="content-section-a" id="get-weather">
            <div class="container">
                <div class="row">
                    {# left hand side #}
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Enter a city to know how the weather is like</h2>
                        <p class="lead">The <i>OpenWeather</i> API provides weather data, including historical and current data, as well as forecasts. The API documentation details the functionality and usage of the different features.
                            <a href = 'https://openweathermap.org/api' target="_blank">Read more</a>
                        </p>
                    </div>
                    {# right hand side #}
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                        {% if weather %}
                            <h3> {{ weather }} </h3>
                        {% endif %}
                            <form class="form-horizontal" method="post" action="/weather">
                                 <div class="form-group">
                                     <label for="email" class="col-sm-2 control-label">City:</label>
                                     <div class="col-sm-10">
                                        <input type="text" class="form-control" id="city" name="city" value="" placeholder="London" required="required"/>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="col-sm-offset-2 col-sm-10">
                                         <button type="submit" class="btn btn-default" id="weather-button">Get weather</button>
                                     </div>
                                 </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

    <section class="services", id="twitterService">
        <div class="content-section-b" id="get-tweets">
            <div class="container">
                <div class="row">
                    {# left hand side #}
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Search for a trending topic on Twitter</h2>
                        <p class="lead"><i>Tweepy</i> integrates Twitter within websites. It can provide trending topic information in relation to a specific hashtag.
                          <a href = 'http://docs.tweepy.org/en/v3.5.0/api.html' target="_blank">Read more</a>
                        </p>
                    </div>
                    {# right hand side #}
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                        <form class="form-horizontal" method="post" action="/tweets">
                             <div class="form-group">
                                 <label for="tag" class="col-sm-2 control-label">Search tag:</label>
                                 <div class="col-sm-10">
                                    <input type="text" class="form-control" id="tag" name="tag" value="" placeholder="foodcodewknd" required="required"/>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <div class="col-sm-offset-2 col-sm-10">
                                     <button type="submit" class="btn btn-default" id="twitter-button">Search</button>
                                 </div>
                             </div>
                        </form>
                        {% for tweet in tweets %}
                            <h4> {{ tweet }} </h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services", id="venuesService">
        <div class="content-section-b" id="get-venues">
            <div class="container">
                <div class="row">
                    {# left hand side #}
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Get venues near a specific location with Foursquare</h2>
                        <p class="lead"><i>FoursquareAPI</i> helps you find the perfect places for food and entertainment in your area and see information about specific venues.
                            <a href = 'https://developer.foursquare.com/' target="_blank">Read more</a>
                        </p>
                    </div>
                    {# right hand side #}
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                        <form class="form-horizontal" method="post" action="/foursquare">
                             <div class="form-group">
                                 <label for="email" class="col-sm-2 control-label">Location:</label>
                                 <div class="col-sm-10">
                                    <input type="text" class="form-control" id="location" name="location" value="" placeholder="St Paul's Cathedral" required="required"/>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <div class="col-sm-offset-2 col-sm-10">
                                     <button type="submit" class="btn btn-default" id="find-button">Search</button>
                                 </div>
                             </div>
                        </form>
                        {% for venue in venues %}
                            <h4> {{ venue }} </h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services" id="showMap">
        <div class="content-section-b" id="show-map">
            <div class="container">
                <div class="row">
                    {# left hand side #}
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Display an interactive map</h2>
                        <p class="lead"><i>LeafletJS</i> is a user-friendly and interactive mapping platform for developers that allows displaying maps and building applications using JavaScript.
                            <a href = 'http://leafletjs.com/' target="_blank">Read more</a>
                        </p>
                    </div>
                    {# right hand side #}
                    <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                        <div id="leaflet-map"></div>
                        {#  See static/js/main.js for js code that displays the map #}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
