<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# jQuery #}
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    {# Bootstrap Core CSS and JavaScript #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {#  LeafletJS Core CSS and JavaScript #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.css') }}">
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    {# Custom CSS #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {# Custom JavaScript #}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {# Page Title #}
    <title>Food, Coding, Weekend</title>
</head>

<body>
{# -- Navigation bar -- #}
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        {# left hand-side #}
        <div class="navbar-header">
            <a class="navbar-brand topnav" href="/"><i class="fa fa-home fa-fw"></i>HOME </a>
        </div>
        {# right hand-side #}
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#send-email">Mailgun</a>
                </li>
                <li>
                    <a href="#contact-form">Signup</a>
                </li>
                <li>
                    <a href="#get-tweets">Tweepy</a>
                </li>
                <li>
                    <a href="#get-weather">OpenWeather</a>
                </li>
                <li>
                    <a href="#get-venues">Foursquare</a>
                </li>
                <li>
                    <a href="#get-uber-products">Uber</a>
                </li>
                <li>
                    <a href="#show-map">LeafletJS</a>
                </li>
                <li>
                    <a href="#create-shipment">AfterShip</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" id="horiz-carousel">
    <div id="carousel2" data-ride="carousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#carousel2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel2" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active"><img src="../static/img/Stemettes_Logo.png" alt="" class="horiz-carousel"/></div>
            <div class="item"><img src="../static/img/girls_code.jpg" alt="" class="horiz-carousel"/></div>
        </div>
        <a href="#carousel2" role="button" data-slide="prev" class="left carousel-control"></a>
        <a href="#carousel2" role="button" data-slide="next" class="right carousel-control"></a>
    </div>
</div>

{# -- Page Content -- #}
<div class="content-section-a" id="send-email">
    <div class="container">
        <div class="row">
            {# left hand side #}
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Send email to Maria</h2>
                <p class="lead"><i>Mailgun</i> is a set of powerful APIs that allows sending, receiving and tracking email effortlessly. Try it out!
                    <a href = 'http://www.mailgun.com/' target="_blank">Read more</a>
                </p>
            </div>
            {# right hand side #}
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                {% if email %}
                    <h3> We attempted to send an email and the feedback is {{ email }}! </h3>
                {% else %}
                     <form class="form-horizontal" method="post" action="/email">
                         <div class="form-group">
                             <label for="email" class="col-sm-2 control-label">Email:</label>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control" id="emailinput" name="emailinput" placeholder="Maria <maria.arinbjarnar@gmail.com>" required="required"/>
                             </div>
                         </div>
                         <div class="form-group">
                             <div class="col-sm-offset-2 col-sm-10">
                                 <button type="submit" class="btn btn-default" id="email-button">Send</button>
                             </div>
                         </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="content-section-b" id="send-email-many">
    <div class="container">
        <div class="row">
            {# left hand side #}
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Send email to Maria and Maria</h2>
                <p class="lead"><i>Mailgun</i>, as any other API, provides a range of methods with different functionality, such as allowing to send emails to one vs. multiple email addresses.
                    <a href = 'http://www.mailgun.com/' target="_blank">Read more</a>
                </p>
            </div>
            {# right hand side #}
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                {% if email %}
                    <h3> We attempted to send an email and the feedback is {{ email }}! </h3>
                {% else %}
                    <form class="form-horizontal" method="post" action="/email">
                         <div class="form-group">
                             <label for="email" class="col-sm-2 control-label">Emails:</label>
                             <div class="col-sm-10">
                                 <input type="text" class="form-control" id="emailinputtomany" name="emailinput" placeholder="Maria <maria.arinbjarnar@gmail.com>, York <maria@cs.york.ac.uk>" required="required"/>
                             </div>
                         </div>
                         <div class="form-group">
                             <div class="col-sm-offset-2 col-sm-10">
                                 <button type="submit" class="btn btn-default" id="email-button">Send</button>
                             </div>
                         </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="content-section-a" id="contact-form">
    <div class="container">
        <div class="row">
            {# left hand side #}
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Sign up to our interesting email list</h2>
                <p class="lead">Simulating a login/signup or even subscribing to an email list is as easy as opening a new page. <i>Flask</i>, a Python web framework, makes this easy through routing.
                    <a href = 'http://flask.pocoo.org/docs/0.11/quickstart/' target="_blank">Read more</a>
                </p>
            </div>
            {# right hand side #}
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                <form class="form-horizontal" method="post" action="/signup">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" value="" placeholder="Your name" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email" name="email" value="" placeholder="youremail@domain.com" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" id="submit-button">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="content-section-b" id="get-tweets">
    <div class="container">
        <div class="row">
            {# left hand side #}
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Search for a trending topic on Twitter</h2>
                <p class="lead"><i>Tweepy</i> integrates Twitter within websites. It can provide trending topic information in relation to a specific hashtag.
                  <a href = 'http://docs.tweepy.org/en/v3.5.0/api.html' target="_blank">Read more</a>
                </p>
            </div>
            {# right hand side #}
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                <form class="form-horizontal" method="post" action="/tweets">
                     <div class="form-group">
                         <label for="tag" class="col-sm-2 control-label">Search tag:</label>
                         <div class="col-sm-10">
                            <input type="text" class="form-control" id="tag" name="tag" value="" placeholder="foodcodewknd" required="required"/>
                         </div>
                     </div>
                     <div class="form-group">
                         <div class="col-sm-offset-2 col-sm-10">
                             <button type="submit" class="btn btn-default" id="twitter-button">Search</button>
                         </div>
                     </div>
                </form>
                {% for tweet in tweets %}
                    <h4> {{ tweet }} </h4>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="content-section-a" id="get-weather">
    <div class="container">
        <div class="row">
            {# left hand side #}
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Enter a city to know how the weather is like</h2>
                <p class="lead">The <i>OpenWeather</i> API provides weather data, including historical and current data, as well as forecasts. The API documentation details the functionality and usage of the different features.
                    <a href = 'https://openweathermap.org/api' target="_blank">Read more</a>
                </p>
            </div>
            {# right hand side #}
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                {% if weather %}
                    <h3> {{ weather }} </h3>
                {% else %}
                    <form class="form-horizontal" method="post" action="/weather">
                         <div class="form-group">
                             <label for="email" class="col-sm-2 control-label">City:</label>
                             <div class="col-sm-10">
                                <input type="text" class="form-control" id="city" name="city" value="" placeholder="London" required="required"/>
                             </div>
                         </div>
                         <div class="form-group">
                             <div class="col-sm-offset-2 col-sm-10">
                                 <button type="submit" class="btn btn-default" id="weather-button">Get weather</button>
                             </div>
                         </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="content-section-b" id="get-venues">
    <div class="container">
        <div class="row">
            {# left hand side #}
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Get venues near a specific location with Foursquare</h2>
                <p class="lead"><i>FoursquareAPI</i> helps you find the perfect places for food and entertainment in your area and see information about specific venues.
                    <a href = 'https://developer.foursquare.com/' target="_blank">Read more</a>
                </p>
            </div>
            {# right hand side #}
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                <form class="form-horizontal" method="post" action="/foursquare">
                     <div class="form-group">
                         <label for="email" class="col-sm-2 control-label">Location:</label>
                         <div class="col-sm-10">
                            <input type="text" class="form-control" id="location" name="location" value="" placeholder="St Paul's Cathedral" required="required"/>
                         </div>
                     </div>
                     <div class="form-group">
                         <div class="col-sm-offset-2 col-sm-10">
                             <button type="submit" class="btn btn-default" id="find-button">Search</button>
                         </div>
                     </div>
                </form>
                {% for venue in venues %}
                    <h4> {{ venue }} </h4>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="content-section-a" id="get-uber-products">
    <div class="container">
        <div class="row">
            {# left hand side #}
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Request Uber products</h2>
                <p class="lead"><i>Uber for developers</i> allows integrating Uber services in the code. One example would be getting the type of available services based on a location's latitude and longitude.
                    <a href = 'https://developer.uber.com' target="_blank">Read more</a>
                </p>
            </div>
            {# right hand side #}
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                <form class="form-horizontal" method="post" action="/uber">
                    <div class="form-group">
                        <label for="latitude" class="col-sm-6 control-label">Latitude for location:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="latitude" name="latitude" placeholder="51.51618" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="longitude" class="col-sm-6 control-label">Longitude for location:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="longitude" name="longitude" placeholder="-0.10006" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-6">
                            <button type="submit" class="btn btn-default" id="uber-submit">Get product</button>
                        </div>
                    </div>
                </form>
                {% for product in products %}
                    <img src="{{ product.image }}"><br>
                    <h4> {{ product.display_name }} </h4>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="content-section-b" id="show-map">
    <div class="container">
        <div class="row">
            {# left hand side #}
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Display an interactive map</h2>
                <p class="lead"><i>LeafletJS</i> is a user-friendly and interactive mapping platform for developers that allows displaying maps and building applications using JavaScript.
                    <a href = 'http://leafletjs.com/' target="_blank">Read more</a>
                </p>
            </div>
            {# right hand side #}
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                <div id="leaflet-map"></div>
                {#  See static/js/main.js for js code that displays the map #}
            </div>
        </div>
    </div>
</div>

<div class="content-section-a" id="create-shipment">
    <div class="container">
        <div class="row">
            {# left hand side #}
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Create Shipment</h2>
                <p class="lead"><i>AfterShip</i> is a shipment tracking application and API that allows, among others, viewing delivery status by entering a tracking number.
                    <a href = 'https://www.aftership.com/' target="_blank">Read more</a>
                </p>
            </div>
            {# right hand side #}
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 right-col">
                <form class="form-horizontal" method="post" action="/aftership">
                    <div class="form-group">
                        <label for="slug" class="col-sm-6 control-label">Courier Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="slug" name="slug" placeholder="DHL" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="number" class="col-sm-6 control-label">Tracking Number:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="number" name="number" placeholder="Tracking number" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-sm-6 control-label">Shipment reference:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="title" name="title" placeholder="Shipment reference" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-6">
                            <button type="submit" class="btn btn-default" id="aftership-submit">View shipment</button>
                        </div>
                    </div>
                </form>

                {% if ShipmentInfo %}
                    <h4> Tracking Information: {{ ShipmentInfo }} </h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>

</body>
</html>