<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {#  Leaflet maps #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.css') }}">
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <title>Our fab CodeJame website</title>
</head>
<body>
{% if name %}
    <h1> Welcome {{ name }}! </h1>
{% else %}
    <h1> Welcome! </h1>
{% endif %}

<div id="send-email">
    <h1> Send email to maria</h1>
    {% if email %}
        <h3> We attempted to send an email and the feedback is {{ email }}! </h3>
    {% else %}
        <form method="post" action="/email">
            <input id="email-button" value="Send" type="submit"/>
        </form>
    {% endif %}
</div>


<div id="get-weather">
    <h1> Enter a city to know how the weather is there</h1>
    {% if weather %}
        <h3> {{ weather }} </h3>
    {% else %}
        <form method="post" action="/weather">
            <label for="email">City:</label>
            <input type="text" id="city" name="city" value="" placeholder="London" required="required"/>
            <input id="weather-button" value="Get weather" type="submit"/>
        </form>
    {% endif %}
</div>

<div id="contact-form">
    <h1> Signup to our interesting email list </h1>
    <form method="post" action="/signup">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="" placeholder="Enter your name" required="required" autofocus="autofocus" />
        <br /><br />
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="" placeholder="youremail@domain.com" required="required"/>
        <br /><br />
        <input id="submit-button" value="Signup" type="submit"/>
    </form>
</div>

<div id="get-tweets">
    <h1> Search for something on Twitter </h1>
    <form method="post" action="/tweets">
            <label for="tag">Search tag:</label>
            <input type="text" id="tag" name="tag" value="" placeholder="Stemettes" required="required"/>
            <input id="twitter-button" value="Search" type="submit"/>
    </form>
    {% for tweet in tweets %}
        <h4> {{ tweet }} </h4>
    {% endfor %}
</div>

<div id="get-venues">
    <h1> Get venues near a specific location with Foursquare </h1>
    <form method="post" action="/foursquare">
        <label for="email">Location:</label>
        <input type="text" id="location" name="location" value="" placeholder="St Paul's Cathedral" required="required"/>
        <input id="find-button" value="Search" type="submit"/>
    </form>
    {% for venue in venues %}
        <h4> {{ venue }} </h4>
    {% endfor %}
</div>

<div id="get-uber-products">
    <h1> Request Uber products </h1>
    <form method="post" action="/uber">
        <label for="latitude">latitude for location:</label>
        <input type="text" id="latitude" name="latitude" value="" placeholder="51.544272" required="required" autofocus="autofocus" required />
        <br /><br />
        <label for="longitude">longitude for location:</label>
        <input type="text" id="longitude" name="longitude" value="" placeholder="-122.41" required="required"/>
        <br /><br />
        <input id="uber-submit" value="Get Product" type="submit"/>
    </form>
    {% for product in products %}
        <img src="{{ product.image }}"><br>
        <h4> {{ product.display_name }} </h4>
        {% else %}
            <h4> No products found for this location </h4>
    {% endfor %}

</div>

<div id="show-map">
    <h1> Interactive map </h1>
    <div id="leaflet-map"></div>
    {#  See static/js/main.js for js code that displays the map #}

</div>

<div id="create-shipment">
    <h1> Create Shipment </h1>
    <form method="post" action="/aftership">
        <label for="slug">Enter Courier Name:</label>
        <input type="text" id="slug" name="slug" value="" placeholder="dhl" required="required" autofocus="autofocus" required />
        <br /><br />
        <label for="number">Enter Tracking Number:</label>
        <input type="text" id="number" name="number" value="" placeholder="Enter Tracking number" required="required"/>
        <br /><br />
        <label for="title">Enter Title:</label>
        <input type="text" id="title" name="title" value="" placeholder="Enter Shipment reference" required="required"/>
        <br /><br />
         <input id="aftership-submit" value="Create Shipment" type="submit"/>
    </form>
    {% if ShipmentInfo %}
        <h4> Tracking Information: {{ ShipmentInfo }} </h4>
    {% endif %}
</div>
</body>
</html>