<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <title>Our fab CodeJame website</title>
</head>
<body>
{% if name %}
    <h1> Welcome {{ name }}! </h1>
{% else %}
    <h1> Welcome! </h1>
{% endif %}

<div id="send-email">
    <h1> Send email to maria</h1>
    {% if email %}
        <h3> We attempted to send an email and the feedback is {{ email }}! </h3>
    {% else %}
        <form method="post" action="/email">
            <input id="email-button" value="Send" type="submit"/>
        </form>
    {% endif %}
</div>


<div id="get-weather">
    <h1> Enter a city to know how the weather is there</h1>
    {% if weather %}
        <h3> {{ weather }} </h3>
    {% else %}
        <form method="post" action="/weather">
            <label for="email">City:</label>
            <input type="text" id="city" name="city" value="" placeholder="London" required="required"/>
            <input id="weather-button" value="Get weather" type="submit"/>
        </form>
    {% endif %}
</div>

<div id="contact-form">
    <h1> Signup to our interesting email list </h1>
    <form method="post" action="/signup">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="" placeholder="Enter your name" required="required" autofocus="autofocus" />
        <br /><br />
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="" placeholder="youremail@domain.com" required="required"/>
        <br /><br />
        <input id="submit-button" value="Signup" type="submit"/>
    </form>
</div>

<div id="get-tweets">
    <h1> Search for something on Twitter </h1>
    <form method="post" action="/tweets">
            <label for="tag">Search tag:</label>
            <input type="text" id="tag" name="tag" value="" placeholder="Stemettes" required="required"/>
            <input id="twitter-button" value="Search" type="submit"/>
    </form>
    {% for tweet in tweets %}
        <h4> {{ tweet }} </h4>
    {% endfor %}

</div>

</body>
</html>